
.checkout__ad{
    width: 1870px;
    height: 400px;
    z-index: -1;

}
.checkout{
    display: flex;
}
.checkout__right{
    margin-top:64px;
    width: 600px;
    
}
.checkout___title
{
    font-size:21px;
    margin-left:20px ;
}
.checkout___image{
    margin-left:95px ;
    height: 200px;
}