.checkoutProduct{
    display:  flex;
    margin-top: 30px;
    margin-bottom: 30px;
    

    
}
.checkoutProduct__info{
    height: 50px;
}
.checkoutProduct__image{
    object-fit: contain;
    width: 150px;
    height: 150px;

}
.checkoutProduct__rating{
    display: flex;
    font-size: 18px;
}

.checkoutProduct__title{
    width: 100%;
    font-size: 18px;

}

.checkoutProduct__price{
    color: red;
}
.checkoutProduct__info>button{
    background-color: orange;
    min-width: 100px;
    width: 150px;
    height:30px;
    border-radius: 6px;
    margin-top:20px;
}