.header{
    background-color:#131921;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}
.header__logo{
    margin-top: 18px;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 13px;
    width:100px;
    align-content: center;
    object-fit: contain;
}
.header__top{
    
    display: flex;
    flex:1;
    
}
.header__searchInput{
    width: 100%;
    height: 18.7px;
}

.header__searchIcon{
 align-items: center;
 background-color: orange;
 margin-left: -5px;
 
}
.header__nav{

    display: flex;
    justify-content: space-evenly; 
    
}
.header__link{
    color: white;
 
 
}
.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;

}
.header__optionLineOne{
    font-size:12px ;
}

.header__optionLineTwo{
    font-size: 14px;
    font-weight: 800;
    color: white;
}
.header__cartInput{
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.header__cart{
    margin-top: 2px;
    color: white;
}