.home{
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    
}
.home__image{
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
    z-index: -1;
    margin-bottom: -150px;
    
    
} 
.home__product{
    justify-content: space-between;
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    
    
}

.home__video{
    background-color: whitesmoke;
    z-index: 1;
    margin-left: 14px;
    margin-right: 7px;
}
.home__trailer{
   margin-left: 8px;

}
.home__primeimage{
    height: 150px;
    width: 550px;
    margin-left: 1000px;
    margin-bottom: 180px ;
}
.home__videotext{
    margin-left: 20px;
}

.home__middle{
    margin-top:20px;
}