.login__logo{
    width: 200px;
    margin-top: 20px;
    margin-bottom:20px;
}
.login{
    display: flex;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    align-items: center;
    
}
.login__container{
   background-color:white;
    flex-direction: column;
    width: 300px;
    border-style: ridge;
    padding-left:20px ;
    padding-top: 40px;
    padding-bottom: 50px;
    

}
.login__container>p{
    font-size: 13px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.login__container>input{
    padding-bottom: 10px;
}    
.login__text{
    width: 267px;
    height: 21px;
}

.login__cred{
    padding-top: 10px;
    font-size: 17px;
    padding-bottom: 10px;

}
.login__button{
    margin-top: 10px;
    width: 275px;
    height: 25px;
    background-color: orange;
}
.login__create{
    width: 275px;
    height: 25px;
}