.product__rating{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin:10px;
    padding: 20px;
    max-height: 400px;
    min-width: 100px;
    max-width: 785px;
    background-color: whitesmoke;
    z-index: 1;
    font-size: 15px;
}
.product > img{
    max-height:200px;
    width:100%;
    object-fit: contain;
    margin-bottom: 15px;

}

.product__price{
    color: red;
}

.product>button{
    background-color: orange;
    min-width: 100px;
    max-width: 200px;
    height:25px;
    border-radius: 6px;
}