.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 174px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-left: -350px;
    margin-right: -70px;
    z-index:1;
    
}

.subtotal__gift{
    display: flex;
    align-items: center;
}

.subtotal__gift>input{
    margin-right:5px;

}
.subtotal>button{
    background-color: orange;
    height: 35px;
}